<a href="https://colab.research.google.com/github/Saubha/Grain-size-analysis/blob/main/EX1_Python_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Experiment - 1

**Aim:** To understand Python Variables

**Objective:** Practice code â€“ Variable name, Assign multiple values, Output variable, Global variable, Variable exercise

**Input/Apparatus Used:** Python computer program

**Procedure/Algorithm/Code:**

Creating a Comment
Comments starts with a #, and Python will ignore them:

In [ ]:
#Write your name
print("Saubhagya Ranjan Mahapatra")

Saubhagya Ranjan Mahapatra

In [ ]:
#Variables are containers for storing data values.
#Creating Variables
#A variable is created the moment you first assign a value to it.
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
#Variables do not need to be declared with any particular type, and can even change type after they have been set.
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [ ]:
#If you want to specify the data type of a variable, this can be done with casting.
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
#You can get the data type of a variable with the type() function.
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
#String variables can be declared either by using single or double quotes:
x = "John"
# is the same as
x = 'John'
print(x)

John

In [ ]:
#Variable names are case-sensitive.
a = 4
A = "Sally"
print(a)
print(A)

4
Sally

##Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).
Rules for Python variables:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

The multi-word keywords can be created by the following method.

Camel Case - In the camel case, each word or abbreviation in the middle of begins with a capital letter. There is no intervention of whitespace. For example - nameOfStudent, valueOfVaraible, etc.

Pascal Case - It is the same as the Camel Case, but here the first word is also capital. For example - NameOfStudent, etc.

Snake Case - In the snake case, Words are separated by the underscore. For example - name_of_student, etc.

In [ ]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [ ]:
name = "Devansh"
age = 20
marks = 80.50

print(name)
print(age)
print(marks)

Devansh
20
80.5

In [ ]:
#Multi Words Variable Names
#Camel Case
#Each word, except the first, starts with a capital letter:
myVariableName = "Bhagya"
#Pascal Case
#Each word starts with a capital letter:
MyVariableName = "John"
#Snake Case
#Each word is separated by an underscore character:
my_variable_name = "John"

In [ ]:
#Many Values to Multiple Variables
#Python allows you to assign values to multiple variables in one line:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
#One Value to Multiple Variables
#And you can assign the same value to multiple variables in one line:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
#Unpack a Collection
#If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.
#Unpack a list:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
#Output Variables
#In the print() function, you output multiple variables, separated by a comma:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
#You can also use the + operator to output multiple variables:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
# In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:
x = 5
y = "John"
print(x + y)

TypeError: ignored

In [ ]:
#The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:
x = 5
y = "John"
print(x, y)

5 John

In [ ]:
#Global Variables
#Variables that are created outside of a function (as in all of the examples above) are known as global variables.
#Global variables can be used by everyone, both inside of functions and outside.
#Create a variable outside of a function, and use it inside the function
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
#Create a variable inside a function, with the same name as the global variable
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
#If you use the global keyword, the variable belongs to the global scope:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
#To change the value of a global variable inside a function, refer to the variable by using the global keyword:

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
# assign the value 299792458 to the variable speed_of_light
speed_of_light = 299792458
print(speed_of_light)

299792458

In [ ]:
#assign a decimal number 3.14 to the variable pi
pi = 3.14
print(pi)

3.14