<a href="https://colab.research.google.com/github/Saubha/Grain-size-analysis/blob/main/EX2_Python_Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Experiment - 2

**Aim:** To understand Python Data types

**Objective:** Python Numbers, Python Strings (Slicing string, Modify  string, Concatenate String, Format string, String Methods), Python Booleans, Python Operators. Exercise

**Input/Apparatus Used:** Python computer program

**Procedure/Algorithm/Code:**

Python Data Types

Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:



*   Text Type:	str
*   Numeric Types:	int, float, complex
*   Sequence Types:	list, tuple, range
*   Mapping Type:
*   Set Types:	set, frozenset
*   Boolean Type:	bool
*   Binary Types:	bytes, bytearray, memoryview
*   None Type:	NoneType

**Setting the Data Type**

In Python, the data type is set when you assign a value to a variable:

In [ ]:
x = str("Hello World")

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [ ]:
x = int(20)

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [ ]:
x = float(20.5)

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [ ]:
x = complex(1j)

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [ ]:
x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [ ]:
x = tuple(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [ ]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [ ]:
x = dict(name="John", age=36)

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [ ]:
x = set(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

{'cherry', 'apple', 'banana'}
<class 'set'>

In [ ]:
x = frozenset(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'cherry', 'apple', 'banana'})
<class 'frozenset'>

In [ ]:
x = bool(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [ ]:
x = bytes(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [ ]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [ ]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x78b683e1c400>
<class 'memoryview'>

# Python Numbers

*   int
*   float
*   complex

Variables of numeric types are created when you assign a value to them:

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
#To verify the type of any object in Python, use the type() function:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

**Integers**

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

**Float**

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

**Complex**

Complex numbers are written with a "j" as the imaginary part:

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Integers: int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

In [ ]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

Floats:float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

In [ ]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

Strings:str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

**Type Conversion**

You can convert from one type to another with the int(), float(), and complex() methods:

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**Random Number**

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [ ]:
# Import the random module, and display a random number between 1 and 9:
import random

print(random.randrange(1, 10))

9

# Python Strings
Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

###Assign String to a Variable

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [ ]:
a = "Hello"
print(a)

Hello

###Multiline Strings

You can assign a multiline string to a variable by using three quotes:

In [ ]:
#You can use three double quotes:

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
#Or three single quotes:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

###Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

Get the character at position 1 (remember that the first character has the position 0):

In [ ]:
a = "Hello, World!"
print(a[1])

e

###Looping Through a String
Since strings are arrays, we can loop through the characters in a string, with a for loop.
Loop through the letters in the word "banana":

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

###String Length
To get the length of a string, use the len() function.
The len() function returns the length of a string:

In [ ]:
a = "Hello, World!"
print(len(a))

13

### Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.
Check if "free" is present in the following text:

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

Use it in an if statement:
Print only if "free" is present:

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

### Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.
Check if "expensive" is NOT present in the following text:

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

Use it in an if statement:
print only if "expensive" is NOT present:

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

#Python - Slicing Strings
Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.
Get the characters from position 2 to position 5 (not included):

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

### Slice From the Start
By leaving out the start index, the range will start at the first character:
Get the characters from the start to position 5 (not included):

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

### Slice To the End
By leaving out the end index, the range will go to the end:
Get the characters from position 2, and all the way to the end:

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

### Negative Indexing
Use negative indexes to start the slice from the end of the string:

Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

### Upper Case
The upper() method returns the string in upper case:

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

Lower Case

The lower() method returns the string in lower case:

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

### Remove Whitespace
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [ ]:
#The strip() method removes any whitespace from the beginning or the end:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

### Replace String
The replace() method replaces a string with another string:

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

Split String
The split() method returns a list where the text between the specified separator becomes the list items.

In [ ]:
#The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

### Python - String Concatenation
String Concatenation
To concatenate, or combine, two strings you can use the + operator.

In [ ]:
#Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
#To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

String Format
As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [ ]:
#Use the format() method to insert numbers into strings:

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

### Escape Character
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [ ]:
#You will get an error if you use double quotes inside a string that is surrounded by double quotes:

txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (<ipython-input-2-ac723aec0ca6>, line 3)

You will get an error if you use double quotes inside a string that are surrounded by double quotes:

To fix this problem, use the escape character \":

In [ ]:
#The escape character allows you to use double quotes when you normally would not be allowed:
del print
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.