<a href="https://colab.research.google.com/github/Saubha/Grain-size-analysis/blob/main/EX4_Python_Basic_Math.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Experiment - 4
Aim: To understand Python Operator, Math, If Else and While Loops

Objective: Practice code â€“ Student will learn Python Operator, Math, If Else and While Loops


Input/Apparatus Used: Python computer program

Procedure/Algorithm/Code:

Python Operators
Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

In [ ]:
print(10 + 5)

15

Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

### Python Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:


Operator | Name | Example
--- | --- | ---
+ | Addition | X+Y
- | Substraction | X-Y
* | Multiplication | X*Y
/ | Division | X/Y
% | Modulus | X%Y
** | Exponentiation | X**Y
// | Floor Division | X//Y

In [ ]:
x = 5
y = 3

print(x + y)

8

In [ ]:
x = 5
y = 3

print(x - y)

2

In [ ]:
x = 5
y = 3

print(x * y)

15

In [ ]:
x = 12
y = 3

print(x / y)

4.0

In [ ]:
x = 5
y = 2

print(x % y)

1

In [ ]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [ ]:
x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

7

### Python Assignment Operators
Assignment operators are used to assign values to variables:

Operator | Example
--- | ---
= | X=5
+=	| x += 3
-=	|x -= 3
*=	| x *= 3
%=	| x %= 3
//=	| x //= 3
**=	| x **= 3
&=	|x &= 3
$|$=	| $X |= 3$
^=	| x ^= 3
>>=	| x >>= 3
<<=	|x <<= 3

In [ ]:
x = 5

print(x)

5

In [ ]:
x = 5

x += 3

print(x)

8

In [ ]:
x = 5

x =  x+3

print(x)

8

In [ ]:
x = 5

x -= 3

print(x)

2

In [ ]:
x = 5

x *= 3

print(x)

15

In [ ]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [ ]:
x = 5

x%=3

print(x)

2

In [ ]:
x = 7

x//=3

print(x)

2

In [ ]:
x = 5

x **= 3

print(x)

125

### Python - [Bitwise Operators](https://www.tutorialspoint.com/python/python_bitwise_operators.htm)

[Decimal to Binary](https://www.cuemath.com/numbers/decimal-to-binary/)

[Binary to Decimal](https://www.geeksforgeeks.org/binary-to-decimal/)

In Python, the "&" symbol is used as a bitwise AND operator, and "=" is used as the assignment operator.

The bitwise AND operator, when used with integers, performs a bitwise AND operation on the binary representation of the numbers. It compares the corresponding bits of two numbers and produces a result where each bit is set to 1 if and only if both corresponding bits in the operands are 1. Here's an example:

In [ ]:
a = 5  # binary: 0101
b = 3  # binary: 0011
c = a & b  # binary: 0001 (decimal: 1)
print(c)  # Output: 1

1

Let us take two integers 60 and 13, and assign them to variables a and b respectively.

In [ ]:
a=60
b=13
print ("a:",a, "b:",b, "a&b:",a&b)

a: 60 b: 13 a&b: 12

To understand how Python performs the operation, obtain the binary equivalent of each variable.

In [ ]:
print ("a:", bin(a))
print ("b:", bin(b))

a: 0b111100
b: 0b1101

For the sake of convenience, use the standard 8-bit format for each number, so that "a" is 00111100 and "b" is 00001101. Let us manually perform and operation on each corresponding bits of these two numbers.

0011 1100

&

0000 1101

-------------
0000 1100

Convert the resultant binary back to integer. You'll get 12, which was the result obtained earlier.

In [ ]:
int('00001100',2)

12

In [ ]:
a = 5          # initialize the value of a
b = 6          # initialize the value of b
print('a&b:', a&b)
print('a|b:', a|b)
print('a^b:', a^b)
print('~a:', ~a)
print('a<<b:', a<<b)
print('a>>b:', a>>b)

a&b: 4
a|b: 7
a^b: 3
~a: -6
a<<b: 320
a>>b: 0

### [Comparison operator](https://www.tutorialspoint.com/python/python_comparison_operators.htm)
Comparison operators mainly use for comparison purposes.

Comparison operators compare the values of the two operands and return a true or false Boolean value in accordance.

The example of comparison operators are ==, !=, <=, >=, >, <. In the below table, we explain the works of the operators.

Operator | Name | Description
--- | --- | ---
== | Equal | If the value of two operands is equal, then the condition becomes true.
!= | Not equal |	If the value of two operands is not equal, then the condition becomes true.
<=	| Less than or equal to | The condition is met if the first operand is smaller than or equal to the second operand.
>=	| Greater than or equal to | The condition is met if the first operand is greater than or equal to the second operand.
>	| Greater than | If the first operand is greater than the second operand, then the condition becomes true.
<	| Less than | If the first operand is less than the second operand, then the condition becomes true.

In [ ]:
print ("Both operands are integer")
a=5
b=7
print ("a=",a, "b=",b, "a>b is", a>b)
print ("a=",a, "b=",b,"a<b is",a<b)
print ("a=",a, "b=",b,"a==b is",a==b)
print ("a=",a, "b=",b,"a!=b is",a!=b)

Both operands are integer
a= 5 b= 7 a>b is False
a= 5 b= 7 a<b is True
a= 5 b= 7 a==b is False
a= 5 b= 7 a!=b is True

### [Python Logical Operators](https://www.tutorialspoint.com/python/python_logical_operators.htm)
Python logical operators are used to combile two or more conditions and check the final result.

The examples of logical operators are and, or, and not.

Operator | Description
--- | ---
and	| The condition will also be true if the expression is true. If the two expressions a and b are the same, then a and b must both be true.
or	| The condition will be true if one of the phrases is true. If a and b are the two expressions, then an or b must be true if and is true and b is false.
not	| If an expression a is true, then not (a) will be false and vice versa.

In [ ]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [ ]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [ ]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

### [Identity Operators](https://www.tutorialspoint.com/python/python_operators.htm)
Identity operators compare the memory locations of two objects. There are two Identity operators explained below âˆ’

Operator |	Description
--- | ---
is	| If the references on both sides point to the same object, it is determined to be true.
is not	| If the references on both sides do not point at the same object, it is determined to be true.

In [1]:
a = ["Rose", "Lotus"]
b = ["White", "Lotus"]
c = a
print(a is c)
print(a is not c)
print(a is b)
print(a is not b)
print(a == b)
print(a != b)

True
False
False
True
False
True

### Membership Operators
The membership of a value inside a Python data structure can be verified using Python membership operators. The result is true if the value is in the data structure; otherwise, it returns false.

Operator	| Description
--- | ---
in	| If the first operand cannot be found in the second operand, it is evaluated to be true (list, tuple, or dictionary).
not in	| If the first operand is not present in the second operand, the evaluation is true (list, tuple, or dictionary).

In [ ]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [ ]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

# Python Math
Python has a set of built-in math functions, including an extensive math module, that allows you to perform mathematical tasks on numbers.
Built-in Math Functions
The min() and max() functions can be used to find the lowest or highest value in an iterable:

In [ ]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

The abs() function returns the absolute (positive) value of the specified number:

In [ ]:
x = abs(-7.25)

print(x)

7.25

The pow(x, y) function returns the value of x to the power of y (xy).
Return the value of 4 to the power of 3 (same as 4 * 4 * 4):

In [ ]:
x = pow(4, 3)

print(x)

64

# The Math Module
Python has also a built-in module called math, which extends the list of mathematical functions.

# To use it, you must import the math module:
When you have imported the math module, you can start using methods and constants of the module.

The math.sqrt() method for example, returns the square root of a number:

In [ ]:
import math

x = math.sqrt(64)

print(x)

8.0

The math.ceil() method rounds a number upwards to its nearest integer, and the math.floor() method rounds a number downwards to its nearest integer, and returns the result:

In [ ]:
import math

x = math.ceil(1.4)
y = math.floor(1.4)

print(x) # returns 2
print(y) # returns 1

2
1

The math.pi constant, returns the value of PI (3.14...):

In [ ]:
import math

x = math.pi

print(x)

3.141592653589793

In [ ]:
#Find the natural logarithm of different numbers
# Import math Library
import math

# Return the natural logarithm of different numbers
print(math.log(2.7183))
print(math.log(2))
print(math.log(1))

1.0000066849139877
0.6931471805599453
0.0

In [ ]:
# Find the base-10 logarithm of different numbers

# Import math Library
import math

# Return the base-10 logarithm of different numbers
print(math.log10(2.7183))
print(math.log10(2))
print(math.log10(1))

0.43429738512450866
0.3010299956639812
0.0

In [ ]:
# Find the sine of different numbers:
# Import math Library
import math
# Return the sine of different values
print (math.sin(0.00))
print (math.sin(-1.23))
print (math.sin(10))
print (math.sin(math.pi))
print (math.sin(math.pi/2))

0.0
-0.9424888019316975
-0.5440211108893698
1.2246467991473532e-16
1.0

### Python Conditions and If statements
Python supports the usual logical conditions from mathematics:

* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [ ]:
# If statement:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

### Elif
The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

### Else
The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
# One line if else statement:

a = 2
b = 330
print("A") if a > b else print("B")

B

In [ ]:
# One line if else statement, with 3 conditions:

a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

### And
The and keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
# Test if a is greater than b, AND if c is greater than a:

a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

### Or
The or keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
# Test if a is greater than b, OR if a is greater than c:

a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

### Not
The not keyword is a logical operator, and is used to reverse the result of the conditional statement:

In [ ]:
#Test if a is NOT greater than b:

a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

### Nested If
You can have if statements inside if statements, this is called nested if statements.

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

### The while Loop
With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
# Print i as long as i is less than 6:

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

### The break Statement
With the break statement we can stop the loop even if the while condition is true:

In [ ]:
# Exit the loop when i is 3:

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

### The continue Statement
With the continue statement we can stop the current iteration, and continue with the next:

In [ ]:
# Continue to the next iteration if i is 3:

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

### The else Statement
With the else statement we can run a block of code once when the condition no longer is true:

In [ ]:
# Print a message once the condition is false:

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

### Python For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
#Print each fruit in a fruit list:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

### The break Statement
With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
#Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

### The continue Statement
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
#Do not print banana:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

### The range() Function
To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
#Using the range() function:

for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
#Using the start parameter:

for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
#Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

### Else in For Loop
The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [ ]:
#Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

### Learning Outcomes
Operators:

Understand and apply Python operators, including arithmetic, comparison, and logical operators, to manipulate data and perform computations effectively.

Math:

Utilize the math module to perform advanced mathematical operations, handle numerical data, and gain proficiency in using functions like sqrt(), pow(), and abs().

If-Else Statements:

Master the use of conditional statements (if-else) to control program flow based on specific conditions, making informed decisions in code execution.

While Loops:

Skillfully implement while loops for repetitive tasks, ensuring controlled iteration until specified conditions are met, and understand the potential for infinite loops.

Practical Application:

Apply operators, mathematical functions, if-else statements, and while loops in practical scenarios, demonstrating problem-solving skills and efficient algorithmic thinking.

Write a Python program to find the area of a rectangle given that its length is 10 units and breadth is 20 units.

In [ ]:
#To find the area of a rectangle
length = 10
breadth = 20
area = length * breadth
print(area)

200

Python program to convert the temperature in degree centigrade to Fahrenheit.

In [ ]:
#Temperature in degrees Fahrenheit (Â°F) = (Temperature in degrees Celsius (Â°C) * 9/5) + 32.
c = input("Enter temperature in Centigrade: ")
f = (9*(int(c))/5)+32
print("Temperature in Fahrenheit is: ", f)

Enter temperature in Centigrade: 20
Temperature in Fahrenheit is:  68.0

Solving the following word problem using Python:
A grocery store sells a bag of ice for $1.25 and makes a 20% proft. If it sells 500 bags of ice, How much
total profit does it make?

In [ ]:
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500
profit_per_bag = cost_of_ice_bag * profit_margin
print (profit_per_bag)
total_profit = number_of_bags * profit_per_bag
print (total_profit)

0.25
125.0

A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars.So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

In [ ]:
plane_cost=5000
total_people_signed_up=29
ticket_cost=200
amount_received_by_company=total_people_signed_up*ticket_cost
print(amount_received_by_company)
total_profit=amount_received_by_company-plane_cost
print(total_profit)

5800
800

Write a program to prompt for a score between 0.0 and 1.0. If the score is out of range, print an error. If the score is between 0.0 and 1.0, print a grade using the following table:
Score Grade

$>= 0.9 A$

$>= 0.8 B$

$>= 0.7 C$

$>= 0.6 D$

$< 0.6 F$

If the user enters a value out of range, print a suitable error message and exit. For the test, enter a score of 0.85.

In [4]:
try:
    number = float(8.5)
except:
    number = -1

if number >= 0.9:
    print("A")
elif number >= 0.8:
    print("B")
elif number >= 0.7:
    print("C")
elif number >= 0.6:
    print("D")
elif number < 0.6:
    print("F")
else:
    print("Error!")
    quit()

A

Radha is planning to buy a house that costs $1,260,000.

She considering two options to finance her purchase:

Option 1: Make an immediate down payment of $300,000, and take loan 8-year loan with an interest rate of 10% (compounded monthly) for the remaining amount.

Option 2: Take a 10-year loan with an interest rate of 8% (compounded monthly) for the entire amount.

Both these loans have to be paid back in equal monthly installments (EMIs). Which loan has a lower EMI among the two?

Formula used to calculate the EMI for a loan


$EMI=\frac{P X r X (1+r)^n}{(1+r)^n - 1}$
where:
* P is the loan amount (principal)
* n is the no. of months
* r is the rate of interest per month

In [5]:
def calculate_emi(principal, annual_interest_rate, tenure_years):
    # Convert annual interest rate to monthly and then to decimal
    monthly_interest_rate = (annual_interest_rate / 12) / 100

    # Convert tenure from years to months
    tenure_months = tenure_years * 12

    # Calculate EMI using the formula
    emi = principal * (monthly_interest_rate * (1 + monthly_interest_rate)**tenure_months) / ((1 + monthly_interest_rate)**tenure_months - 1)

    return emi

# Option 1
principal_option1 = 1260000 - 300000  # Remaining amount after down payment
interest_rate_option1 = 10
tenure_option1 = 8

emi_option1 = calculate_emi(principal_option1, interest_rate_option1, tenure_option1)

# Option 2
principal_option2 = 1260000
interest_rate_option2 = 8
tenure_option2 = 10

emi_option2 = calculate_emi(principal_option2, interest_rate_option2, tenure_option2)

# Compare EMIs
if emi_option1 < emi_option2:
    print("Option 1 has a lower EMI.")
    print(f"EMI for Option 1: ${emi_option1:.2f}")
    print(f"EMI for Option 2: ${emi_option2:.2f}")
else:
    print("Option 2 has a lower EMI.")
    print(f"EMI for Option 1: ${emi_option1:.2f}")
    print(f"EMI for Option 2: ${emi_option2:.2f}")

Option 1 has a lower EMI.
EMI for Option 1: $14567.20
EMI for Option 2: $15287.28